<% include partials/header.ejs %>

<div class="w-full h-screen bg-center bg-cover bg-[url(http.. 55)]">
  <div class="w-full h-screen bg-gray-100 flex items-center justify-center">
    <div class="w-80 bg-white p-8 rounded-md shadow-md">
      <h1 class="text-3xl text-center font-semibold text-zinc-700 tracking-tight leading-none capitalize">
        Create New Account!
      </h1>

      <form action="/register" method="post" class="max-w-md mx-auto">

        <div class="mb-4">
          <label for="username" class="block text-gray-700 text-sm font-semibold mb-2">User name:</label>
          <input id="username" class="border-2 rounded-md w-full px-3 py-2 focus:outline-none focus:border-blue-500"
            type="text" name="username" placeholder="Enter your user name">
        </div>

      <div class="mb-4">
          <label for="firstname" class="block text-gray-700 text-sm font-semibold mb-2">First name:</label>
          <input id="firstname" class="border-2 rounded-md w-full px-3 py-2 focus:outline-none focus:border-blue-500"
            type="text" name="firstname" placeholder="Enter your firstname">
        </div>

        <div class="mb-4">
          <label for="lastname" class="block text-gray-700 text-sm font-semibold mb-2">Last Name:</label>
          <input id="lastname" class="border-2 rounded-md w-full px-3 py-2 focus:outline-none focus:border-blue-500"
            type="text" name="lastname" placeholder="Enter your lastname">
        </div>
        
        <div class="mb-4">
          <label for="email" class="block text-gray-700 text-sm font-semibold mb-2">Email:</label>
          <input id="email" class="border-2 rounded-md w-full px-3 py-2 focus:outline-none focus:border-blue-500"
            type="email" name="email" placeholder="Enter your email">
        </div>

        <div class="mb-4">
          <label for="contact" class="block text-gray-700 text-sm font-semibold mb-2">Contact:</label>
          <input id="contact" class="border-2 rounded-md w-full px-3 py-2 focus:outline-none focus:border-blue-500"
            type="number" name="contact" placeholder="Enter your contact number">
        </div>

        <div class="mb-4">
          <label for="password" class="block text-gray-700 text-sm font-semibold mb-2">Password:</label>
          <input id="password" class="border-2 rounded-md w-full px-3 py-2 focus:outline-none focus:border-blue-500"
            type="password" name="password" placeholder="Enter your password">
        </div>

        <div class="mb-4">
            <label for="accountType" class="block text-gray-700 text-sm font-semibold mb-2">Account Type:</label>
            <select name="accountType" id="accountType" class="border-2 rounded-md w-full px-3 py-2 focus:outline-none focus:border-blue-500">
              <option selected value="seller">Seller</option>
              <option value="buyer">Buyer</option>
            </select>
          </div>

        <button class="bg-red-600 text-white rounded-full px-4 py-2 hover:bg-red-700 transition duration-300"
          type="submit">Register</button>


        <a class="text-sm font-semibold text-gray-700 block mt-6 text-center" href="/">
          Login to Existing Account
        </a>
      </form>
    </div>
  </div>
</div>

<% include partials/footer.ejs %>
