<% include partials/header.ejs %>

  <h1>Search Results</h1>
  <ul>

    <% posts.forEach(item => { %>
      <li><%= item.title %>:
         <!-- <%= item.description %> -->
        </li>
    <% }) %>
  </ul>
  <a href="/">Back to Search</a>
</body>
</html>

<% include partials/footer.ejs %>